.user-menu {
  &__signed-in {
    font-size:        14px;
    text-align:       right;
    margin:           8px 24px 0 0;
  
    a {
      text-decoration:  none;
      color:            #999;
      
      &:hover {
        cursor:           pointer;
        color:            $insta-pink;
      }
    }

    .logout::after {
      content:      "|";
      margin-left:  4px;
    }
  }

  &__not-signed-in {
    font-size:      14px;
    text-align:     right;
    margin:         8px 24px 0 0;

    a {
      text-decoration:  none;
      color:            #999;

      &:hover {
        cursor:       pointer;
        color:        $insta-pink;
      }
    }

    .login::after {
      content:        "|";
      margin-left:    4px;
    }

  }
  

}

.content-container {
  width:            100vw;
  margin:           0 auto;
  padding-top:      $header-height;

  .posts-container {
    width:          $post-width;
    margin:         $header-height auto;
  }
  .sidebar-container {
    width:          0;
  }
}
