.content-container
  .user-menu
    = link_to "log-out", destroy_user_session_path, {method: "delete"} 
  .posts-container
    - if @posts.length == 0 
      %p 投稿がありません
    - else
      - @posts.each do |post|
        = render partial: "layouts/post", locals: {post: post}
  %aside.sidebar-container
    = render partial: "layouts/sidebar"
