// colors
$header-base-color:   #aaa;
$light-grey:          #ccc;
$black:               #111;

// for layouts
$header-height:       75px;
$footer-height:       75px;
$post-width:          600px;

// others
$fa-size:             24px;
