@import "reset"; 
@import "font-awesome";
@import "variables";
@import "mixins";

// common settings
* {
  box-sizing:     border-box;
}

body {
  font-family:    -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.link {
  text-decoration:  none;
  font-color:       black;
  cursor:           pointer;
}



// modules
@import "modules/post";
@import "modules/content"; 
@import "modules/header";
@import "modules/footer";
@import "modules/sidebar";

@import "modules/new";
@import "modules/edit";

@import "modules/user_form";
